*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
/* update code */


body{
  
/* background-color:beige; */
width:100vw;
overflow:hidden;
}

.navbar-menu{
  height:85px;
  background-color:rgb(55, 51, 82);

}

.navbar-menu i{
  font-size: 50px;
  margin:20px 20px;
  color:white;
}
.navbar-menu p{
  font-size: 25px;
  
 }
.main-container{
  background-color: cadetblue;
  height:85vh;
}

.main-container.box1{
  height:500px;
  background-color:darkslategray ;
  border-radius:20px;
  width:300px;
}



.search-box{
  margin:50px 0;
  width:100%;
}


.search{
  width:650px;
  height:40px;
  background-color: #353535;
  margin: 0 auto;
  display:block;
  border-radius:6px;
}


.cards{
  height:200px;
  display:flex;
  justify-content:space-around;
}



.cards.card{
  width:30%;
  height:170px;
  background-color:rgb(black);
  border-radius:12px;
}

.footer{
  height:190px;
  /* margin-top:5em;
  margin-left:20em; */
  background: color #353535;
  border-radius:20px;
  width:97%;
  margin:15px auto;
}